.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.add-client {
  width: 50%;
}

.buttlers {
  display: flex;
}

.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tables {
  width: 100%;
}

.client-table-head {
  padding-right: 15px;
}

.client-table-head th{
  padding: 5px;
}
.client-table {
 max-height: 180px;
  overflow-y: auto;
}
.client-table th:nth-child(1),.client-table td:nth-child(1) {
  width: 25%;
}

.client-table th:nth-child(2),.client-table td:nth-child(2) {
  width: 25%;
}

.client-table th:nth-child(3),.client-table td:nth-child(3) {
  width: 25%;
}

.client-table th:nth-child(4),.client-table td:nth-child(4) {
  width: 25%;
}
.no-data {
  text-align: center;
  margin-top: 25px;
}
.no-data span{
  background: #eee;
  padding: 10px;
  border-radius: 20%;
}

.allocate-btn {
  float: right;
  margin-top: 25px;
}